.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 50px;
    width: 100%;
    max-height: 400px;
    min-width:100px ;
    width: 100%;
    z-index: 1;
    margin-left: 20px;
    background-color:white;
}
.product_Info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100px;
    width: 100%;
    margin-bottom: 15px;
}
.product  img{
    max-height: 200px;
    max-width: 400px;
    width: 100%;
    object-fit: contain;
    margin:  20px  0 0 15px;
}
.product_Price{
    margin-top: 5px;
}

.product_Rating{
    display: flex;
    color: #ff9f00;
}
.product > button{
    margin-top: 10px;
    background-color: #ff9f00; 
    color: #111;
    border: none; 
    cursor: pointer;
    padding: 3px;   
}